extends layout

block content
  section#left
    h2#name
    textarea#tweetmessage(placeholder="Publicar un nuevo Tweet...")
    a#tweetbutton Twittear
  section#right
    div
      h2.title Tweets
    div
      h3 Jhon Ramirez
      p Hola Minitwitter
    div
      h3 Juan Valenzuela
      p Hoy dia me fue bien!