extends layout

block content
	section#me
		h2#name
		textarea#tweetmessage(placeholder="Publicar un nuevo Tweet...")
		a#tweetbutton Twittear
	section#feed
		div
			h2 Tweets
		div
			h3 Juan
			p Hola
			a.favorite Favorito
	section#notifications
		div
			h2 Notifications
		div
			p <b>Juan</b> marcó como favorito un Tweet <br/> <span> Lorem Lipsum </span>
		div
			p <b>Juan</b> marcó como favorito un Tweet <br/> <span> Lorem Lipsum </span>
		div
			p <b>Juan</b> marcó como favorito un Tweet <br/> <span> Lorem Lipsum </span>