extends layout

block content
  section#left
    h2 Julio Lopez Montalvo
  section#right
    div
      h2.title Tweets
    div
      h3 Jhon Ramirez
      p Hola Minitwitter
    div
      h3 Juan Valenzuela
      p Hoy dia me fue bien!