extends layout

block content
	section#me
		h2#name
		textarea#tweetmessage(placeholder="Publicar un nuevo Tweet...")
		a#tweetbutton Twittear
	section#feed
		div
			h2 Tweets
	section#notifications
		div
			h2 Notifications