*{
	padding: 0;
	margin: 0;
}

body {
  padding: 50px;
  font: 14px Arial,sans-serif;
  background: #709397;
  color: #292f33;
}

a{
	color: #E64B1C;
}

section#left{
	float: left;
	width:290px;
	height: auto;
	border-radius: 10px;
	background: #fff;
	padding: 15px;
	margin-right: 10px;
	padding: 15px;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}

h2.title{
	color: #66757f;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
}

section#right{
	float: left;
	border-radius: 10px;
	width: 590px;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}

section#right div{
	margin-bottom: 1px;
	background:#fff; 
	padding: 15px;
}

section#right div:first-child{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

section#right div:last-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

section#right div:not(:first-child):hover{
	background-color: #f5f8fa;
}

textarea#tweetmessage{
	color: #8899a6;
	font-size: 14px;
	border:1px solid #ffad99;
	padding:10px;
	width:250px;
	height:20px;
	padding:5px;
	margin-top: 10px;
	line-height: 18px;
}

textarea#tweetmessage:focus{
	color: #000;
}

a#tweetbutton{
	color:#fff;
	background-color: rgba(255,51,0,.8);
	padding:8px;
	float: right;
	border-radius:8px;
	margin-top: 5px;
	cursor: pointer;
}

a#tweetbutton:hover{
	background-color: #FF3300;
}